<!DOCTYPE html>
<html>
  <head>
    <title>UserGroup</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice %>
      <%= render "shared/alert", alert: notice, type:"alert-success" %>
    <% end %>
    <% if alert %>
      <%= render "shared/alert", alert: alert, type:"alert-danger" %>
    <% end %>
    <%= render "shared/header" if current_user.presence %>
    <%= yield %>
    <%= render "shared/modal" %>
  </body>
</html>
